name: ASP.NET MVC App deploy to Azure App service

on: [push,pull_request]

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:

    # checkout the repo
    - uses: actions/checkout@master  
    
    # Install Nuget and run Nuget restore
    - name: Use NuGet to restore dependencies as well as project-specific tools that are specified in the project file
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.3.1'
    - run: nuget restore MyProject.sln
  
    # dotnet msbuild 
    - name: msBuild with dotnet
      shell: pwsh
      run: C:\"Program Files (x86)"\"Microsoft Visual Studio"\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe .\SampleWebApplication.sln -t:rebuild /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:publishUrl=".\\WebAppContent"
  
     
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v1
      with: 
        app-name: dotnetappGH # Replace with your app name
        publish-profile: ${{ secrets.azureWebAppPublishProfile }} # Define secret variable in repository settings as per action documentation
        package: 'SampleWebApplication/WebAppContent/'
